/*
// Theme: Fundamental Version 1.3.1
// Author: https://github.com/isaychris
// Date: June 22, 2017
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#inlineContent {
    background-image: url('https://isaychris.github.io/themes/fundamental/assets/default.png');
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 2px 0.3px rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex !important;
    position: absolute;
    top: 184px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#inlineContent::after {
    font-family: "Open Sans";
    position: absolute;
    display: block;
    color: white;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    padding-top: 3px;
    padding-bottom: 4px;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 220px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    width: 197px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.08);
    content:"MyAnimeList";
}
#inlineContent:hover::after {
    background-color: rgba(255, 255, 255, 0.2);
}
body:before {
    content: "";
    display: block;
    position: relative;
    height: 380px;
    background-image: url("https://isaychris.github.io/themes/fundamental/assets/pattern1.png"),url("https://isaychris.github.io/themes/fundamental/assets/pattern2.png"),linear-gradient(120deg, #155799, #159957);
}
BODY {
    margin: 0;
    color: #000000;
    font-size: 11.00px;
    font-family: Verdana, Arial;
    background-repeat: no-repeat;
}
* {
    text-decoration: none !important;
    color: ;
}
/*
// Determines the positioning of your list
*/

#list_surround {
    margin: auto;
    width: 920px;
    margin-bottom: 25px;
}
#list_surround .animetitle+small {
    background-color: #dff0d8 !important;
    margin-left: 8px;
    padding: 5px;
    color: #3c763d;
    border-radius: 5px;
    opacity: 1 !important;
    border-style: solid;
    border-width: 1px;
    border-color: #d6e9c6;
}
/*
// All links on your list
*/

a {
    color: #757575;
    text-decoration: underline;
}
a:visited {
    color: #757575;
    text-decoration: underline;
}
a:hover {
    color: #757575;
    text-decoration: none;
}
/*
// Alternating row color 1
*/

.td1 {
    color: #000000;
    border-color: #ABABAB;
    padding: 2px;
    background-color: #FFFFFF;
    line-height: 25px;
    color: #757575 !important;
}
/*
// Alternating row color 2
*/

.td2 {
    color: #000000;
    border-color: #ABABAB;
    padding: 2px;
    background-color: #f7f7f9;
    line-height: 25px;
    color: #757575 !important;
}
/*
// This represents the "Anime Title", "Score", "# Eps" columns
*/

.table_header {
    color: #757575;
    border-color: #ddd;
    background-color: #f5f5f5;
    padding: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px !important;
    line-height: 25px;
}
/*
// headerLink represents the color of the links inside the table_header
*/

.table_headerLink {
    color: #757575;
}
.table_headerLink:Visited {
    color: #757575;
}
.table_headerLink:Hover {
    color: #757575;
}
/*
// Controls the select form decoration (the drop down select box)
*/

.form {
    border-width: 1px 1px 1px 1px;
    border-color: #ABABAB;
    border-style: solid;
    color: #000000;
    padding: 2px;
    font-size: 11.00px;
    font-family: Verdana, Arial;
}
/* Which 'status' up top is selected? */

.status_selected {
    color: #000000;
    border-color: #ABABAB;
    padding: 2px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(230, 230, 230);
}
.status_not_selected:hover {
    background-color: rgb(230, 230, 230);
}
.status_selected a,
.status_not_selected a {
    display: block;
    padding: 10px;
}
.status_not_selected:first-of-type,
.status_selected:first-of-type {
    border-radius: 5px 0px 0px 5px;
}
.status_not_selected:last-of-type,
.status_selected:last-of-type {
    border-radius: 0px 5px 5px 0px;
}
.status_not_selected {
    color: #000000;
    border-color: #ABABAB;
    padding: 2px;
    background-color: #F1F1F1;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
}
/*
Header classes for Currently Watching, Completed, Dropped, etc...
*/

.header_cw {
    color: #159957;
}
.header_completed {
    color: #337ab7;
}
.header_onhold {
    color: #f0ad4e;
}
.header_dropped {
    color: #d9534f;
}
.header_ptw {
    color: #5f5f5f;
}
.header_title {
    padding-bottom: 4px;
    font-size: 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category_totals {
    padding: 10px;
    text-align: center;
    color: #757575;
}
#grand_totals {
    display: none;
}
/* header_al is the div surrounding "User's Anime List" at the top */

.header_al {
    font-weight: bold;
    font-size: 16px;
}
/* header_al_links is the div with your "Profile" and "MyAnimeList home" links */

.header_al_links {}
/* controls what styles you can give to all the anime titles in your list */

.animetitle {
    font-weight: bold;
}
#copyright {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    border-color: #bce8f1 !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #31708f;
    background-color: #d9edf7;
}
#copyright::After {
    white-space: pre !important;
    content: "\A Layout design by iSayChris";
    margin-bottom: 20px;
}
#mal\_control\_strip {
    background-image: url("") !important;
    background-color: #272B35 !important;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    left: 0;
    background-repeat: repeat-x;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 11px;
    font-variant: normal;
    text-transform: none;
    position: fixed;
    top: 0px;
    z-index: 5;
}
#mal\_control\_strip a {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 11px;
    font-variant: normal;
    font-weight: normal;
    text-decoration: underline;
    background: transparent;
    text-transform: none;
}
#mal\_control\_strip img {
    background: transparent none repeat scroll 0%;
    border: 0 none;
    margin: 0;
    padding: 0;
}
#mal\_control\_strip table {
    width: auto;
    height: 40px;
}
#mal\_control\_strip td {
    height: 40px;
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-variant: normal;
    text-transform: none;
}
#mal\_control\_strip td div {
    margin: 3px 0;
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-variant: normal;
}
#mal_cs_pic {
    width: 80px;
    padding-right: 8px;
    padding: 0 1em;
}
#mal_cs_listinfo {
    width: 75px;
    padding: 0 1em;
}
#mal_cs_links {
    width: 150px;
    padding: 0 1em;
    display: none !important;
}
#mal_cs_otherlinks {
    padding: 0 1em;
}
#mal_cs_powered a {
    display: none;
}
#mal_cs_powered {
    position: absolute;
    top: 0px;
    right: 0px;
}
#mal_cs_powered #search {} #mal_cs_powered #search #searchBox {
    border-radius: 3px;
    padding: 8px;
    font-size: 15px !important;
    color: #8A8C8F;
    text-align: center;
    background-color: #393F4C;
    border-style: none;
    top: 0px !important;
}
#searchListButton {
    display: none;
}
#searchListButton:hover {
    cursor: pointer;
}
#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
    border-right: 1px solid #7e7e7e;
}
.hide {
    display: none;
}
.borderRBL {
    border-width: 0 1px 1px 1px;
}
/* Back to Mobile site */

#btn-back_to_mobile {
    position: absolute;
    top: 4px;
    right: 170px;
    background-image: url('/images/back_to_mobile_site02.png?v=2');
    background-size: 142px 20px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    display: block;
    width: 142px!important;
    height: 20px!important;
    background-color: #F0F3FA;
    border: #2E51A2 2px solid;
    border-radius: 4px;
    padding: 4px;
    z-index: 10;
    text-indent: -9999px;
}
#mal_control_strip #btn-back_to_mobile {
    top: 4px;
    left: 470px;
}
/*
Top 
*/

.table_header {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px 0 1px !important;
}
/*
Top sides
*/

td.table_header:first-of-type {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px 0 1px 1px !important;
    border-radius: 5px 0 0 0;
}
td.table_header:last-of-type {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px 1px 1px 0 !important;
    border-radius: 0 5px 0 0;
}
/*
Sides of list table (anime/manga entries)
*/

.td1:first-of-type,
.td2:first-of-type {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 0 0px 1px !important;
}
.td1:last-of-type,
.td2:last-of-type {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 1px 0px 0 !important;
}
/*
Bottom and bottom sides
*/

.category_totals {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 0 1px 1px !important;
    border-radius: 0 0 5px 5px;
}
/*
Other tables at bottom
*/

#grand_totals,
#copyright {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: 1px !important;
}
.td1 small,
.td2 small {
    opacity: 0 !important;
}
tr:hover td.td1 small,
tr:hover td.td2 small {
    opacity: 1 !important;
}
#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
    border-right: none !important;
}
