body {
     background-attachment: fixed ! important;
     background-color: #F0F0F0 ! important;
     background-image: url("http://i.imgur.com/nsMuBmJ.gif") ! important;
     background-repeat: repeat-x ! important;
}

* {
     font-family: Arial,Verdana,Helvetica,sans-serif;
     font-size: 13px;
     text-decoration: none ! important;
}

a {
     color: #FFFFFF;
}

a:hover {
     text-decoration: none;
}

a:hover {
     border-bottom: 2px solid #5C8AE6;
     color: #FFFFFF;
     text-decoration: none;
}

.status_selected {
     background-color: #5C8AE6;
     border-color: #000000;
     border-width: 0px 1px 1px 0px;
     box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.21);
     color: #000000;
     line-height: 2.5em;
}

.status_not_selected {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
     border-color: #000000;
     color: #000000;
     line-height: 2.5em;
}

#list_surround {
     background: url("http://i.imgur.com/azu1K25.png") no-repeat scroll 0% 0% rgba(143, 143, 143, 0.77);
     border-radius: 10px;
     border: 2px solid #FFFFFF;
     box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.41);
     height: 100%;
     left: 0px;
     margin: auto;
     padding-top: 200px;
     position: relative;
     top: 25px;
     width: 850px;
}

#list_surround .header_cw {
     background: url("http://i.imgur.com/uuWODfe.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
     box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.21);
}

#list_surround .header_completed {
     background: url("http://i.imgur.com/n9e38rQ.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
     box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.21);
}

#list_surround .header_onhold {
     background: url("http://i.imgur.com/2nFyk8R.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
     box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.21);
}

#list_surround .header_ptw {
     background: url("http://i.imgur.com/av1NSs6.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
     box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.21);
}

#list_surround .header_dropped {
     background: url("http://i.imgur.com/gZAmz5H.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
     box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.21);
}

#list_surround .header_cw, #list_surround .header_completed, #list_surround .header_onhold, #list_surround .header_ptw, #list_surround .header_dropped {
     margin-bottom: 7px;
     margin-left: 0px;
     padding: 28px;
}

#list_surround .header_title span {
     color: #000000;
     display: none;
     font-size: 1px;
}

#list_surround .header_title .thickbox {
     display: none;
}

#list_surround br {
     display: none;
}

.borderRBL {
     color: #969696 ! important;
}

.table_header {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
     border-color: #ABABAB;
     border-style: solid;
     border-width: 1px 1px 1px 0px;
     color: #FFFFFF;
     line-height: 1.8em;
     padding: 4px;
}

.td1 {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.56);
     line-height: 1.1em;
     padding: 4px;
}

.td2 {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.45);
     line-height: 1.1em;
     padding: 4px;
}

.td1:hover, .td2:hover {
    
}

#list_surround .animetitle + small {
     background: none repeat scroll 0% 0% #5C8AE6;
     font-size: 11px;
     margin-left: 10px;
     opacity: 1;
     padding: 2px;
     text-transform: lowercase;
}

.td1, .td2, .table_header {
     border-color: #FFFFFF;
     border-width: 0px 0px 1px ! important;
     color: #FFFFFF;
}

#list_surround .category_totals {
     background-color: rgba(0, 0, 0, 0.7);
     color: #FFFFFF;
     font-size: 13px;
     line-height: 2em;
     margin-top: 15px;
     text-align: center;
     width: 611px;
}

#list_surround #grand_totals {
     display: none;
}

#copyright {
     background: none repeat scroll 0% 0% #5C8AE6;
     color: #FFFFFF;
     font-size: 13px;
     height: 15px;
     padding: 5px 9px 9px;
     position: relative;
}

#copyright:before {
     content: "Layout by iSayChris";
     display: block;
     padding-bottom: 20px;
}

#search {
     bottom: 50px ! important;
     left: 100px ! important;
}

#searchBox {
     background: none repeat scroll 0px 0px #FFFFFF ! important;
     border-radius: 5px;
     border-style: hidden;
     box-shadow: 0px 0px 3px #E2E2E2;
     color: #AAAAAA;
     display: block ! important;
     font-family: Consolas,Arial,sans-serif ! important;
     font-size: 10px;
     height: 20px ! important;
     letter-spacing: 0.1em;
     padding-left: 10px;
     padding-right: 10px;
     right: 6px ! important;
     text-align: center ! important;
     text-transform: uppercase ! important;
     top: 8px ! important;
     width: 220px ! important;
}

#searchListButton {
     display: none;
}

#mal\_control\_strip {
     background-color: #8F8F8F ! important;
     background-image: url("http://i.imgur.com/fv1Pc.png") ! important;
}

#mal_cs_powered a {
     display: none;
}

tr:hover .td2, tr:hover .td1 {
     background: none repeat scroll 0% 0% rgba(5, 5, 5, 0.7);
}

tr:hover td.td1 small, tr:hover td.td2 small {
     opacity: 1;
}

.td1 small, .td2 small {
     opacity: 0;
}
